Alias /proj_name/media /product/proj_name_media

<Directory /product/proj_name_media>
    LimitRequestBody 102400
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
</Directory>
