[xdebug]
zend_extension={{ installed_php_dir }}/lib/php/extensions/no-debug-non-zts-{{ php_extension_ver.stdout }}/xdebug.so
xdebug.remote_enable=on
xdebug.remote_handler=dbgp
xdebug.remote_host=localhost
xdebug.remote_port=9000
