error_log  {{ nginx__log_dir }}/error.log {{ nginx__error_log_level }};
pid        /var/run/nginx.pid;

events {
    worker_connections {{ nginx__worker_connections }};
    multi_accept       on;
    use                epoll;
}

{% if service_enable %}
daemon on;
{% else %}
daemon off;
{% endif %}
