server {
  listen 80 reuseport;
  server_name _;

  root {{ nginx_root }};

{% for nginx_location_conf in nginx_location_confs %}
  include /etc/nginx/conf.d/location/{{ nginx_location_conf }}.conf;
{% endfor %}
}
