[ngx_devel_kit]
form=git
url=https://github.com/simpl/ngx_devel_kit.git
rev=v0.3.0

[nginx-upload-module]
form=git
url=https://github.com/vkholodkov/nginx-upload-module.git
rev=2.2

[lua-nginx-module]
form=git
url=https://github.com/openresty/lua-nginx-module.git
rev=v0.10.7

[set-misc-nginx-module]
form=git
url=https://github.com/openresty/set-misc-nginx-module.git
rev=v0.31
