location {{ nginx_config_rewrite_proxy_location }} {
    rewrite ^{{ nginx_config_rewrite_proxy_location }}/(.+) $1 break;
{% if nginx_config_rewrite_proxy_root is defined and nginx_config_rewrite_proxy_root != "" %}
    root {{ nginx_config_rewrite_proxy_root }};
{% endif %}

    proxy_pass     http://{{ nginx_config_rewrite_proxy_upstream }}/$1;
    proxy_redirect / $scheme://$http_host{{ nginx_config_rewrite_proxy_location }}/;
}
