upstream {{ nginx_config_rewrite_proxy__upstream }} {
{% for nginx_config_rewrite_proxy__server in nginx_config_rewrite_proxy__servers %}
  server {{ nginx_config_rewrite_proxy__server }}; 
{% endfor %}
}
