- name: Git necessary package install
  tags:
    - git
    - git/install
  become: true
  ignore_errors: yes
  yum: name={{ item }} state=latest
  with_items:
    - which
    - patch
    - wget
    - openssl-devel
    - libcurl-devel
    - expat-devel
    - perl-ExtUtils-MakeMaker
    - gettext

- name: latest Git version check
  tags:
    - git
    - git/install
  shell: curl --silent "https://api.github.com/repos/git/git/tags" | jq -r '.[].name | select (. | test("rc") | not)' | head -1 | sed 's|^v||g'
  register: Register__git_install__latest_version
  failed_when: Register__git_install__latest_version.rc not in [0,1]

- name: set git__version 
  tags:
    - git
    - git/install
  when: Register__git_install__latest_version.rc == 0
  set_fact: 
    git__version: "{{ Register__git_install__latest_version.stdout }}"

- name: Git source file check
  tags:
    - git
    - git/install
  command: test -f {{ git__path }}.tar.gz
  register: register__git__source_check
  failed_when: register__git__source_check.rc not in [0,1]

- name: Git download
  tags:
    - git
    - git/install
  become: true
  when: register__git__source_check.rc != 0
  get_url: >
    url=https://www.kernel.org/pub/software/scm/git/{{ git__fullname }}.tar.gz
    dest={{ git__path }}.tar.gz

- name: Git source directory check
  tags:
    - git
    - git/install
  command: test -d {{ git__path }}
  register: register__git__dir_check
  failed_when: register__git__dir_check.rc not in [0,1]

- name: Git source directory remove
  tags:
    - git
    - git/install
  become: true
  when: register__git__dir_check.rc == 0
  file: >
    path={{ git__path }}
    state=absent

- name: Git unarchive
  tags:
    - git
    - git/install
  become: true
  shell: |
    cd /usr/local/src
    tar xvzf {{ git__path }}.tar.gz

- name: Git install
  tags:
    - git
    - git/install
  become: true
  shell: |
    cd {{ git__path }} 
    make prefix=/usr/local
    make install prefix=/usr/local
