<match *.**>
  @type forward
  retry_limit 5
  flush_interval 5s

{% for fluentd_forward_server in fluentd_forward_servers %}
  <server>
    name {{ fluentd_forward_server.name }}
    host "{{ fluentd_forward_server.host }}"
    port {{ fluentd_forward_server.port }}
    weight {{ fluentd_forward_server.weight | default('60', true) }}
  </server>
{% endfor %}
{% if fluentd_forward_secondary_enable %}
  <secondary>
    @type file
    path {{ fluentd_log_dir }}/forward-failed.log
  </secondary>
{% endif %}
</match>
