Alias /{{ pj_name }}_admin /product/{{ pj_name }}_admin/admin/codeigniter

<Directory /product/{{ pj_name }}_admin/admin/codeigniter>
    SetEnv ENVIRONMENT {{ pj_environment }}
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all

    # index.php を表示させない
    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /{{ pj_name }}_admin

        # CodeIgniter
        RewriteCond $1 !^(index\.php|image(_sp)?|css|js|flash(_sp)?|gadget_sandbox\.xml)
        RewriteRule ^(.*)$ /{{ pj_name }}_admin/index.php/$1 [L]
    </IfModule>
</Directory>
