[program:revel]
command=%(ENV_GOPATH)s/bin/%(ENV_APP_NAME)s/%(ENV_APP_NAME)s -importPath %(ENV_REVEL_PACKAGE)s -srcPath %(ENV_GOPATH)s/bin/%(ENV_APP_NAME)s/src -runMode %(ENV_APP_MODE)s
stdout_events_enabled=true
stderr_events_enabled=true
autostart = true
autorestart = true
stopasgroup = true
{% if supervisor_revel_user_env %}
user=%(ENV_REVEL_USER)s
{% endif %}
