[program:{{ supervisor_config_ini__name }}]
command = {{ supervisor_config_ini__command }}
{% if supervisor_config_ini__user != '' %}
user = {{ supervisor_config_ini__user }}
{% endif %}
stdout_events_enabled = true
stderr_events_enabled = true
autostart = true
autorestart = true
stopasgroup = true
