error_log  {{ nginx_log_dir }}/error.log {{ nginx_error_log_level }};
pid        /var/run/nginx.pid;

events {
    worker_connections {{ nginx_worker_connections }};
    multi_accept       on;
    use                epoll;
}

#user  nobody;
worker_processes  auto;
{% if service_enable %}
daemon on;
{% else %}
daemon off;
{% endif %}

include /etc/nginx/env.conf;

http {
    include       mime.types;
    default_type  application/octet-stream;

    server_tokens off;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    server_names_hash_bucket_size 64;
    client_max_body_size          10M;
    client_body_buffer_size       64k;

    sendfile        {{ nginx_sendfile }};
    tcp_nopush      on;

    keepalive_timeout  65;

    # log config
    include /etc/nginx/log.conf;

    # charset config
    include /etc/nginx/charset.conf;

    # gzip config
    include /etc/nginx/gzip.conf;

    # proxy config
    include /etc/nginx/proxy.conf;

    # fastcgi_cache_config
    include /etc/nginx/fastcgi_cache.conf;

    # include upstream config
    include /etc/nginx/conf.d/upstream/*.conf;

    # include virtual server config
    include /etc/nginx/servers.conf;
}
