--without-pear
--enable-exif
--with-gd
--enable-gd-native-ttf
--enable-gd-jis-conv
--with-png-dir=/usr/local
--with-jpeg-dir=/usr/local
--with-freetype-dir=/usr/local
--enable-sockets
--with-jpeg-dir=/usr
--with-png-dir=/usr
--enable-exif
--enable-zip
--with-zlib
--with-zlib-dir=/usr
--with-kerberos
--with-openssl
--with-mcrypt=/usr
--enable-soap
--enable-xmlreader
--enable-xmlwriter=shared
--with-xmlrpc
--with-libxml-dir=/usr
--with-xsl=/usr
--enable-ftp
--enable-cgi
--with-curl=/usr
--with-tidy
--enable-sysvsem
--enable-sysvshm
--enable-sysvmsg
--enable-shmop
--with-mysql=mysqlnd
--with-mysqli=mysqlnd
--with-pdo-mysql=mysqlnd
--with-mysql-sock=/var/lib/mysql/mysql.sock
--with-pdo-sqlite
--enable-pcntl
--with-readline
--enable-mbstring
--enable-mbregex
--with-pcre-regex
--disable-debug
--enable-fpm
--enable-bcmath
--with-pic
--with-apxs2=/usr/sbin/apxs
--with-bz2=/usr
--with-freetype-dir=/usr
--with-libdir=lib64
--with-readline
--enable-wddx
--enable-phar
--enable-fast-install
