# upstream Setting
upstream backend_elasticsearch {
    server {{ elasticsearch_host }}:{{ elasticsearch_port }};
}

server {
    listen       {{ nginx_port }};
    server_name  _;

    location /elasticsearch {
    	# 0がキャッシュする
    	# 1がキャッシュしない
    	set $do_not_cache 1;
    
    	proxy_no_cache     $do_not_cache;
    	proxy_cache_bypass $do_not_cache;
    	proxy_cache        proxy_cache_zone;

        rewrite ^/elasticsearch/(.*) $1 break;
    
    	proxy_pass http://backend_elasticsearch/$1;
    }
}
