<source>
  type tail
  tag {{ nginx_error_log_tag_name }}
  path /var/log/nginx/error.log
  pos_file {{ fluentd_log_dir }}/{{ nginx_error_log_tag_name }}.pos
  format /^(?<time>.+) \[(?<level>[^\]]+)\] *(?<message>.*)$/
</source>
